<h3>Sign In</h3>
<p>----If you enter wrong username or password , You will get an error!!!</p>

<form action="/admin" method="POST">

  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username">

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password">

  <input type="submit" value="Login" class="btn">

</form>
<br><br><hr><br>
<h3>Register</h3>
<p>----Username and Password MUST be more than 9 characters, Username cannot contain Number and you cannot create a new user with an already existing username , If you do, You will get an error!!! ----</p>
<form action="/register" method="POST">

  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username">

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password">

  <input type="submit" value="Register" class="btn">

</form>