<h3>Sign In</h3>
<p>----If you enter wrong username or password , You will get an error!!!</p>

<form action="/admin" method="POST">

  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username">

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password">

  <input type="submit" value="Login" class="btn">


</form>
<button onclick="location.href='/register'" style="background-color: lightblue; color: black; padding: 10px;">Don't have an account yet? Click here to REGISTER.</button>
