<div class="searchBar">
  <div class="container">
    <form action="/search" method="POST" class="search__form" role="search">
      <input 
        type="search"
        aria-label="Seach"
        id="searchInput"
        name="searchTerm"
        placeholder="Seach the site..."
      >
      <label for="filter" class="filter-label" style="background-color: white; color: red;">FILTER WITH DATE:</label>
<select id="filter">
  <option value="all">All</option>
  <option value="newest">Newest to Oldest</option>
  <option value="oldest">Oldest to Newest</option>
</select>
    </form>
    <div id="searchClose">Close</div>
  </div>
</div>