<h1>About</h1>
<p>I am using Mongo as Database. The reason I choose Mongo is => in my Laravel project I used MySql, so I wanted to learn something new. And I heard a lot about Mongo, so I thought I should learn it.
    I used nodemon. As template engine I learned how to use embedded js (EJS) too. Also tried to use Cookies in my website because I never used it in a project before so it could be a new challenge to learn. 
    For frontend I get inspired by my previous projects.
    When I was stuck I asked help to my questions in <i> Stackoverflow - Chatgpt - Claude.</i>
    Also watched many different youtube tutorials and searched information myself.
    <br><br><strong> Medium.com was explaining many topics quite good. For example = https://medium.com/geekculture/how-to-send-forms-data-with-fetch-using-get-post-put-delete-and-catching-with-express-js-bfdb85b99709
    <br>For MongoDB questions I used Stackoverflow= https://stackoverflow.com/questions/tagged/mongodb
    <br> For search functionality= https://blog.openreplay.com/implementing-live-search-functionality-in-javascript/ <br>
    <br>Youtube videos that I used=
    <br>https://www.youtube.com/watch?v=zBTPDAh8ABM&list=PL6u82dzQtlfvJoAWdyf5mUxPQRnNKCMGt
    <br>https://www.youtube.com/watch?v=xUcVAKq5J9A
    <br>https://www.youtube.com/watch?v=9OfL9H6AmhQ&t=1899s </strong>
    <br> <br>So basically I learned a lot and also spent a lot of time on these 2 projects.
    </p>