<h1>About</h1>
<p>I am using Mongo as Database. The reason I choose Mongo is => in my Laravel project I used MySql, so I wanted to learn something new. And I heard a lot about Mongo, so I thought I should learn it.
    I used nodemon. and embedded js. Also used Cookies in my website. 
    For frontend I used=<strong> https://startbootstrap.com/</strong> but Ofcourse I modified it like i wanted.
    When I was stuck I asked help to my questions in <i> Stackoverflow - Chatgpt - Claude.</i>
    Also watched many different youtube tutorials and searched information myself.
    <br><br><strong>https://medium.com/geekculture/how-to-send-forms-data-with-fetch-using-get-post-put-delete-and-catching-with-express-js-bfdb85b99709
    <br>https://www.youtube.com/watch?v=zBTPDAh8ABM&list=PL6u82dzQtlfvJoAWdyf5mUxPQRnNKCMGt
    <br>https://www.youtube.com/watch?v=xUcVAKq5J9A
    <br>https://www.youtube.com/watch?v=9OfL9H6AmhQ&t=1899s </strong>
    </p>